@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Raleway:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-kaushan: "Kaushan Script";
  --font-raleway: "Raleway";
  --font-jellee: "Jellee";
  
}